<?xml version="1.0" encoding="UTF-8" ?>
<VersionConfig>
  <FileType>
    <Name>Ruby Files</Name>
    <FileSpec>*.rb</FileSpec>
    <Update>
      <Search>(?'Before'VERSION[ \t]+=[ \t]+[\"'])([0-9]+\.[0-9]+\.[0-9]+)(?'After'[\"'])</Search>
      <Replace>${Before}${Major}.${Minor}.${Patch}${After}</Replace>
    </Update>
  </FileType>
  <FileType>
    <Name>Gemspec Files</Name>
    <FileSpec>*.gemspec</FileSpec>
    <Update>
      <Search>(?'Before'\.version[ \t]+=[ \t]+[\"'])([0-9]+\.[0-9]+\.[0-9]+)(?'After'[\"'])</Search>
      <Replace>${Before}${Major}.${Minor}.${Patch}${After}</Replace>
    </Update>
  </FileType>
  <FileType>
    <Name>Rake Files</Name>
    <FileSpec>Rakefile</FileSpec>
    <Update>
      <Search>(?'Before'VERSION[ \t]+=[ \t]+[\"'])([0-9]+\.[0-9]+\.[0-9]+)(?'After'[\"'])</Search>
      <Replace>${Before}${Major}.${Minor}.${Patch}${After}</Replace>
    </Update>
    <Update>
      <Search>(?'Before'BUILD[ \t]+=[ \t]+[\"'])([0-9]+\.[0-9]+)(?'After'[\"'])</Search>
      <Replace>${Before}${Build}.${Revision}${After}</Replace>
    </Update>
  </FileType>
</VersionConfig>
